<% provide(:title, 'Users') %>

<div id="search">
  <form action="#" method="get">
    <p class="findUsers">
      <label for="searchBox">Find Users:</label>
      <input class="inputBorder" type="text" name="searchBox" id="searchBox">
    </p>

    <input class="submit" type = "submit" value = "Go" id="goButton" />
  </form>
</div>

<div id="allUsers">

</div>

<div id="pager">

</div>