.inputBorder {
    border: 1px solid #CACACA;
    border-radius: 3px;
}

.inputBorder:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 2px #9ecaed;
}

.inputBorderRed {
    outline: none;
    border-color: #DE6464 !important;
    box-shadow: 0 0 2px #DE6464;
}
