<footer>
  <p>
    <%= link_to "HOME", root_path %> |
    <%= link_to "ABOUT", '#' %> |
    <%= link_to "CONTACT", '#' %> |
    <%= link_to "TERMS", '#' %>
  </p>
  <p>&copy; Kristian Žarn. All rights reserved.</p>
</footer>